body {
  color: red;
}

h1 {
  color: red;
  font-family: monospace;
}
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}